body {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}
h1 {
    text-align: center;
    font-size: 45px;
}
.item {
    background-color: lightblue;
    border: 2px solid darkblue;
    padding: 10px;
    border-radius: 4px;
}
p {
    text-align: center;
}
li {
    font-size: 17px;
    padding: 5px;
}
pre code {
    background-color: #eee;
    border: 1px solid;
    display: block;
    max-width: 100%;
}

/*Different example containers*/
.grid-container1 {
    display: grid;
}
.grid-container2 {
    display: grid;
    grid-template-columns: 100px 100px 100px;
}
.grid-container3 {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}
.grid-container4 {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 20px;
}
.grid-container5 {
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    grid-auto-rows: 100px, auto;
}